/******************************MEDIA QUERIES***********************/
@media (min-width:2280px) {
    .container {
        width: 2100px;
    }
}

@media (min-width:1900px) {
    .container {
        width: 1700px;
    }
}

@media (min-width:1600px) {
    .container {
        width: 1400px;
    }
    
}
@media screen and (max-width: 1300px) {
    form.project-dropdown label {
        font-size: 10px;
    }
}
@media screen and (max-width: 1200px) {
    
    .menu li a {
        font-size: 10px;
        padding: 33px 5px;
    }
}

@media screen and (max-width: 1100px) {
   
}

@media screen and (min-width: 992px) {

    .container {
        width: 950px !important;
    }
  
}

@media screen and (max-width: 991px) {
    .logo-area img{
        display: none;
    }
    .full-menu {
        /* display: none; */
        position: fixed;
        top: 0;
        right: -100%;
        display: block;
        background: var(--dark-color);
        z-index: 9999999;
        height: 100vh;
        width: 250px;
        transition: all ease-in-out 0.2s;
        -webkit-transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
        overflow-y: auto;
        padding-top: 0;
        padding-left: 0;
    }
    ul.menu {
        margin: 0;
        padding: 0;
    }
    .notification svg {
        fill: var(--bg-color);
    }
    .toggle-s-box {
    margin: -27px auto 10px;
    float: right;
    clear: both;
}

.toggle-s-box {
    margin: -27px auto 10px;
    float: right;
    clear: both;
}
.user-sec {
    margin: 30px 0;
}
form.project-dropdown select {
    width: 100%;
    padding-left: 11px;
    background: #fff;
}
    form.project-dropdown label {
        font-size: 13px;
        font-weight: 600;
        color: var(--bg-color);
        text-align: center;
        margin: 0 auto;
        display: block;
        padding: 11px;
    }
    .menu-toggle {
        color: var(--bg-color);
        font-size: 17px;
        cursor: pointer;
        text-align: right;
        display: inline-block;
        /* float: right; */
        font-weight: 800;
        margin: -24px 0 0;
        position: absolute;
        top: 45px;
        left: 40px;
        background: var(--color1);
        padding: 6px 11px;
    }
    .sticky .menu-toggle {
        margin: -18px 0 0 0;
    }
    .menu-toggle .fa {
        /* position: absolute; */
        /* top: 25px; */
        /* right: 20px; */
        color: #fff;
        z-index: 999;
        float: right;
        padding-right: 70px;
        z-index: 999;
    }	
    
    .menu li {
        display: inline-block;
        width: 100%;
        transition: all ease-in-out 0.2s;
        -webkit-transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
    }
    .menu li a, .sticky .menu li a {
        padding: 11px 20px;
        color: var(--bg-color);
        font-size: 13px;
        font-weight: 400;
    }
    .menu li.active a, .menu li a:hover, .menu li a:focus {
        color: var(--bg-color);
    }
    .logo-area1{
        display: block !important;
    }
    .logo-area1 img {
        width: 130px;
        height: 90px;
        object-fit: contain;
        margin: 0 auto;
        display: block;
    }
    .notification i {
        font-size: 22px;
        text-align: right;
        position: inherit;
        right: -80px;
        top: 3px;
        color: #fff;
    }
    body.dark form.project-dropdown select {
        width: 100%;
    }
    .notify-box {
        position: absolute;
        background: #f1f3ff;
        left: 0;
        top: 56px;
        padding: 30px;
        display: none;
        width: 100%;
        transform: none;
    }
    .user-box {
        top: auto;
        left: 0;
        padding: 20px;
    }
    .site-name img {
        position: inherit;
        bottom: -36px;
        left: 0;
    }
}

@media screen and (max-width: 800px) {

    .container {
        width: auto !important;
    }
    .site-left::before {
        bottom: -37px;
        background-size: 190px;
        z-index: 0;
    }   
    .site-left h4 {
        font-size: 10px;
    }
    .login-sec {
        height: 100vh;
        overflow-y: auto;
    }
}

@media screen and (max-width: 768px) {
   
}

@media screen and (max-width:767px) {
   
}

@media screen and (max-width: 675px ) {
    
}

@media screen and (max-width: 600px) {
    .main-footer .input-group {
        position: relative;
        width: 40%;
        bottom: -1px;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .site-box1 img{
        display: none;
    }
}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}
